<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
        <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
        <script type="text/javascript" src="{{ asset('js/login.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('js/jquery-1.8.2.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.validate.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/additional-methods.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/messages_es.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.Rut.js')}}"></script>

    <!-- Custom CSS -->
    <link href="{{ asset('css/business-casual.css')}}" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block hover %}{% endblock %}
    <div class="brand">Sistema de Préstamos de Diarios</div>
    <div class="address-bar">Biblioteca Municipal de Valdivia</div>

         <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">MENÚ</span>
            </div>           
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="prestamo" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Préstamos <b class="caret"></b></a>                                                                      
                        <ul role="menu" class="dropdown-menu">                    
                            <li><a href="nuevoPrestamo" onclick="changeClass('prestamo')">Nuevo prestamo</a></li>
                        </ul>
                    </li>
                    <li id="usuarios"class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Usuarios <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="registroLector" onclick="changeClass('usuarios')">Registrar Lector</a></li>
                            <li><a href="registroAdministrador" onclick="changeClass('usuarios')">Registrar administrador</a></li>
                            <li><a href="buscarLector" onclick="changeClass('usuarios')">Buscar lectores</a></li>
                        </ul>
                    </li>
                    <li id="diarios" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Diarios <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="registroLote" onclick="changeClass('diarios')">Registrar lote</a></li>
                            <li><a href="buscarLote" onclick="changeClass('diarios')">Buscar lote</a></li>
                        </ul>
                    </li>
                    <li id="estadistica" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Estadísticas <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="estadistica/edad" onclick="changeClass('estadistica')">Por edad</a></li>
                            <li><a href="estadistica/sexo" onclick="changeClass('estadistica')">Por sexo</a></li>
                            <li><a href="estadistica/fecha" onclick="changeClass('estadistica')">Por fechas</a></li>
                        </ul>
                    </li>
                    <li id="salir" class="not-active"><a href="logout" onclick="changeClass('salir')">Salir</a></li>
                </ul>
            </div>            
        </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    {% block body %}{% endblock %}
                    <hr>
                </div>
            </div>
        </div>



    </div>
    <!-- /.container -->

    <script type="text/javascript" src="{{ asset('js/valida_form.js')}}"></script>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>